{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <b>{{submission.forAssign}}</b>
    <br>
    {{submission.fromStudent}}
    <br>
    {{submission.timeSubmitted}}
    <br>
    <a href = {{ submission.submission.url }} download> Click here </a> to download the file. 
    The following feedbacks have been given so far : 
    <br>
    <ul>
    {%for feedback in feedbacks%}
    <li>
        Feedback : {{feedback.feedback}} <br>
        Marks : {{feedback.marks}}
    </li>
    
    {%endfor%}
</ul>
<form class="form-group" action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.as_p }}

        <button type="submit"  class="btn btn-success" style="background-color: #00ff37; border: none;color: rgb(236, 37, 37); padding: 12px 25px; font-size:16px; border-radius:6px">Submit Feedback</button><br>
</form>
{% endblock %}