*.bak

*sopc_*
*.jdi
*.ptf.*
*.sof
*.pof
*.qws
*.smsg
*_inst.vhd
*_generation_script*
*.done
*.txt
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.bak
*.qar
*.sopc_builder
*example*
*~
*.sdc
*.tcl
*.pin
*.mif
*.hex
*.o

# ignore Quartus II generated folders
db/
incremental_db/
simulation/
timing/
testbench/
output_files/
*_sim/

*.aux
*.log

*.xlsx#
